
<div class="container text-center">

<div class="mb-5">
<h1>Prompt</h1>
<p>Instructions</p>
</div>

<form action="/chatbot/results" class="needs-validation" novalidate>

  <div class="mb-3">

    <textarea id="prompt" name="prompt" class="form-control" rows="15" cols="30"></textarea>
  </div>

  <button class="btn btn-primary" type="submit">Submit!</button>

</form>


</div>
