
<div class="container">

<h1>Prompt</h1>

<form action="/chatbot/results">
  <label for="prompt">Tell me a little about the patient</label>

  <textarea id="prompt" type="text" name="prompt"></textarea>

  <button>Sumbit!</button>
</form>


</div>
