
<div class="container text-center">

<div class="mb-5">
<h3 class="mt-2">Do you need help designing a plan for your sessions?</h3>
<p class="mt-4">Now you can ask AI to help you identify any contraindications and recommend a basic plan for your session.</p>
<p>Please, remember that this does not a replacement for medical advice.</p>
</div>

<form action="/chatbot/results" class="needs-validation" novalidate>

  <div class="mb-3">

    <textarea id="prompt" name="prompt" class="form-control" rows="15" cols="30"></textarea>
  </div>

  <button class="btn btn-primary" type="submit">Submit!</button>

</form>


</div>
