
<div class="container">
  <div class="row mt-3 mb-3">


<div class="toast show position-fixed top-0 m-2 bg-dark" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 1;">
  <div class="toast-header">
    <strong class="me-auto">Demo credentials:</strong>
    <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="toast-body">
    <p><strong>email:</strong> bob@example.com</p>
    <p><strong>password:</strong> <em>password</em></p>
  </div>
</div>



  <div class="col-lg-6 col-10 col-md-6 mx-auto">

      <div class="card border-0 shadow">
        <div class="card-body text-center">


<div class="mb-4">
<img src="img/doctors.svg" alt="sign in logo">
</div>


        <h3 class="logo-text mb-3 fs-1">CareLog</h3>
        <h4>Hi! Please log in:</h4>
          <form action="/user_verify_credentials" method="post">
            <input type="text" class="form-control form-control my-4 py-2" id="email_box" name="query_email" placeholder="Email">
            <input type="password" class="form-control my-2 py-2" id="password_box" name="query_password" placeholder="Password" />
            <div class="text-center">
              <button class="btn btn-success mt-2">Login</button>
              <p class="mt-4 nav-link disabled">If you have trouble loggin in or need your account set up, please contact <a href="#">Admin</a>.</p>
            </div>
          </form>
        </div>
      </div>
    </div>

</div>


<style>
img {
  height: 200px;
  width: auto;
}
</style>
