
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-12 col-sm-7 col-md-6 m-auto">
      <div class="card border-0 shadow">
        <div class="card-body text-center">
        <h3>Hi! Please log in:</h3>
          <form action="/user_verify_credentials" method="post">
            <input type="text" class="form-control form-control my-4 py-2" id="email_box" name="query_email" placeholder="Email">
            <input type="password" class="form-control my-2 py-2" id="password_box" name="query_password" placeholder="Password" />
            <div class="text-center">
              <button class="btn btn-primary">Login</button>
              <p class="mt-2 nav-link disabled">Already have an account?</p>
            </div>
          </form>
        </div>
      </div>
    </div>


<div class="">

    
  </div>
</div>
